/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;800&display=swap'); */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.private-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(216, 248, 183);
  background-image: url(../../image/permaculturabg-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.private-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 70vh;
}

.private-content h3 {
  font-size: 4em;
  color: rgb(19, 139, 55);
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}
