


.Menu {

  background-color: #03f427;
  box-shadow: 0 2px 5px 0 #4405056b;
  margin-bottom: 16px;
 display: flex;
 flex-direction: column;
 padding-left: 2%;
 padding-right: 2%;

}

.Menu ul {
 
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
}

.Menu li {
  color: #def1f0;
  display: inline-block;
  font-size: 14;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.Menu li a {
  color: #def1f0;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  outline: 0;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.Menu li:hover a {
  background-color: #61b8f6;
  color: white;
}
