@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.h1-title{
    
    text-align: center;
}


.container {
    max-width: 1140px;
    
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-right: -15px;
    margin-left: -15px;
    list-style: none;
}

#div-home {
   
        width: 100%;
        /* height: 500vh; */
        background-color: rgb(216, 248, 183);
        background-image: url(../../image/bg-image.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
      }


/* .carousel {
    margin-top: 20px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 10%;
    margin-bottom: 1rem;
    margin-left: 10%;
    list-style: none;
    z-index: 1;
} */

.carousel-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list--box-check {
    background-color: rgba(240, 255, 255, 0.492);
    display: block;
    padding: .75rem;
    margin: 2.5rem 0;
    list-style: outside;
    border: 2px solid #25a337;
    border-radius: 10 px;
}

.list--box-check .title {
    
    font-family: Trebuchet MS,sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    color: #25a337;
    list-style: none;
}

.list--box-check > li, .list--cross > li, .list--custom > li {
    position: relative;
    margin-left: 0;
    list-style: none;
}


.list--numbered {
    padding: 0;
    counter-reset: ol-counter;
}

.list--numbered > li {
    position: relative;
    min-height: 1.5rem;
    padding-left: 2rem;
    margin-bottom: .75rem;
    margin-left: 0;
    line-height: 1.5;
    list-style-type: none;
}

.list--numbered > li::before {
    position: absolute;
    left: 0;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding-top: .25rem;
    font-family: Trebuchet MS,sans-serif;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    text-align: center;
    content: counter(ol-counter);
    counter-increment: ol-counter;
    background: #25a337;
    border-radius: .75rem;
}

.image-box.right {
    float: right;
    border-radius: 15px;
    margin: 0 0 1rem 1rem;
}